.head{
    display: flex;
    margin: 1rem 0rem 1rem 3rem;
    font-size: xxx-large;
}
.para{
    margin: 15px 0px 0px 255px;
}
.buttonmain{
    height: 50px;
    width: 155px;
    margin: 25px 0px 0px 500px;
    background-color: #35A848;
    color: white;
    border-radius: 10px;
    border-width: 0px;
    font-size: x-large;
    cursor: pointer;
}

.containermain{
    width: 98vw;
    height: 80vh;
    background-image: url(https://unlistedzone.com/frontend/img/bull-bulb-line.png);
    
}
.imagemain{
    height: 200px;
    margin: 25px 2px 2px 475px;
}
.box1{
    padding: 25px 0px 0px 25px;
    display: flex;
}
.box11>p{
    padding: 8px 0px 0px 10px;
    margin: 15px 0px 0px 0px;
    font-weight: bold;
}
.box12>p{
    padding: 8px 0px 0px 10px;
    /* margin: 15px 0px 0px 60px; */
    font-weight: bold;
}
.box11 > img{
    width: 6rem;
    height: 8rem;
    padding: 30px 0px 25px 0px;
    margin: 10px 30px 0px 10px;
}
.box11{
    border: 1px solid black;
    width: 30vw;
    display: flex;   
    border-radius: 10px;
    border: 1px solid lightgrey;
}
.box12 > img{
    width: 6rem;
    height: 8rem;
    margin: 9px 30px 0px 15px;
    padding: 30px 10px 65px 0px;
}
.box12{
    border: 1px solid black;
    width: 30vw;
    display: flex;
    margin: 0px 0px 0px 50px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}
.box12>h1{
    font-size: 2.5rem;
    padding: 35px 20px 0px 20px;
    color: green;
}
.box22>img{
    width: 12rem;
    height: 5rem;
}
.box22{
    border: 1px solid black;
    width: 30vw;
    display: flex;
    margin: 0px 0px 0px 50px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}
.box22>h1{
    font-size: 2.5rem;
    padding: 35px 20px 0px 20px;
    color: green;
}
.box22>p{
    padding: 8px 0px 0px 10px;
    /* margin: 15px 0px 0px 60px; */
    font-weight: bold;
}
.boxes{
    display: flex;
}
.boxes2{
    background-color: #E7EEFE;
    /* margin: 25px 0px 0px 10px;
    border-radius: 10px ; */
    margin: 1rem 1rem 0rem 1rem;
    border-radius: 1rem;
}
.boxes21{
    height: 92vh;
    border: 1px solid black;
    width: 30vw;
    border-radius: 10px;
    border: 1px solid lightgrey;

}
.boxes21 > img{
    width: 5rem;
    height: 10rem;
}
.boxes21>h1{
    padding: 30px 0px 0px 75px;
    font-size: x-large;
}
.boxes21>div>p{
    padding: 10px 0px 0px 40px;
}
.buttmycard{
    display: flex;
    flex-direction: column;
}
.butmycard{
    background-color:#14213D;
    color: white;
    padding: 0px;
    margin: 10px 0px 0px 65px;
    height: 2.5rem;
    width: 15rem;
    text-align: center;
    font-size: x-large;
    border: none;
    border-radius: 7px;
    font-weight: bold;
}
.buttmycard>img{
    height: 15rem;
    width: 15rem;
    margin: 30px 0px 0px 70px;
}
.bottombutton{
    margin: 30px 0px 20px 500px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #14213D;
    border: 1px solid #14213D;
    height: 2.5rem;
    width: 12.5rem;
    font-size: 1.5rem;
}
.input{
    width: 70vw;
    text-align: left;
    height: 45px;
    border-radius: 10px;
    font-size: larger;
    padding: 0px 0px 0px 30px ;
    display: flex;
    margin: 2em 0em 3em 0em;
  }
  .searchbar{
    position: relative;
    width: 80%;
    margin: 5em 0em 0em 6em;
    display: flex;
  }
  .buttonNav{
    height: 40px;
    width: 74px;
    margin: 2.5rem 0rem 0rem 1rem;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 10px;
  }  
  
  .image{
    height: 20px;
    position: absolute;
    margin: 3.3rem 0rem 0rem 60rem;
    /* margin: 51px 0px 0px -818px; */
    /* margin: 3.2rem 0rem 0rem -48.5rem; */
  }
  .cardviewmorebutton{
    text-decoration: none;
    color: black;
  }
  .cardviewmorebutton:hover{
    color: green;
  }